2.2.c Temperature climatology in Spain (results)
=================================================
In this notebook we will finally generate the climatology results of daily temperature observations.<br>
Our final goal is still to know whether the temperature anomaly has influence on the power demand or not.<br>
<br>

Now, let's import the _classic stack_

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

We do now need to load the compressed filed into memory.<br>

In [2]:
DATA = pd.read_csv("aemet_daily_observations_2009-2018.csv.bz2",compression='bz2')

Let's have a quick look at the first and last lines of the file

In [3]:
DATA.head(2)

,code,region,station,date,tmin,tavg,tmax,prec,widspeed,sun
0,4358X,BADAJOZ,DON BENITO,2009-12-01,3.5,7.7,11.9,1.0,1.7,NaN
1,C447A,STA. CRUZ DE TENERIFE,TENERIFE NORTE AEROPUERTO,2009-12-01,13.5,15.2,16.8,0.6,2.5,0.7

In [4]:
DATA.tail(2)

,code,region,station,date,tmin,tavg,tmax,prec,widspeed,sun
815786,0255B,BARCELONA,SANTA SUSANNA,2018-12-31,3.7,10.6,17.6,NaN,0.6,NaN
815787,5612B,SEVILLA,LA RODA DE ANDALUCÍA,2018-12-31,2.8,10.0,17.3,0.0,3.1,NaN

The observations cover the period end of 2009 end of 2018, 10 years of data. It seems enough to have a representative climatology.<br>
And data are already been thorugh some preparation.

<br>

# Group by

The **_groupby_** method is a very powerful tool for apply functions based on categories.<br>
We will use it to apply it to our _category_ ~ _day-of-the-year_.<br>
But, first of all, we add datetime properties to the date column and set it as index

In [5]:
DATA.loc[:,'date'] = pd.DatetimeIndex(pd.to_datetime(DATA['date']))
DATA.set_index(['date'],inplace=True)

In [90]:
DATA.loc[:,'doy'] = DATA.index.strftime('Y%m%d')

In [91]:
DATA.head(2)

,code,region,station,tmin,tavg,tmax,prec,widspeed,sun,doy
date,,,,,,,,,,
2009-12-01,4358X,BADAJOZ,DON BENITO,3.5,7.7,11.9,1.0,1.7,NaN,Y1201
2009-12-01,C447A,STA. CRUZ DE TENERIFE,TENERIFE NORTE AEROPUERTO,13.5,15.2,16.8,0.6,2.5,0.7,Y1201

In [92]:
station_group = DATA.groupby(by='station')

Let's loop throug the station_group object to have a first insight on what the groupby method has produce.

In [93]:
for name,group_st in station_group:
    print ('%s (%s) %s' % (name,group_st.iloc[0].region ,len(group_st)))

A CORUÑA (A CORUÑA) 3318
A CORUÑA AEROPUERTO (A CORUÑA) 3314
A POBRA DE TRIVES (OURENSE) 3194
ABLA (ALMERIA) 3257
ADRA (ALMERIA) 1672
ALAJAR (HUELVA) 3220
ALBACETE (ALBACETE) 3317
ALBACETE BASE AÉREA (ALBACETE) 3318
ALBORÁN (ALMERIA) 1711
ALCANTARILLA, BASE AÉREA (MURCIA) 3318
ALCAÑIZ (TERUEL) 3082
ALICANTE-ELCHE AEROPUERTO (ALICANTE) 3318
ALICANTE/ALACANT (ALICANTE) 3318
ALMERÍA AEROPUERTO (ALMERIA) 3318
ANDÚJAR (JAEN) 3087
ANTEQUERA (MALAGA) 2933
ARAGÜÉS DEL PUERTO (HUESCA) 2915
ARANDA DE DUERO (BURGOS) 3301
ARANGUREN, ILUNDAIN   (NAVARRA) 2946
ARANJUEZ (MADRID) 3093
ARENYS DE MAR (BARCELONA) 2975
ARROYO DEL OJANCO (JAEN) 3137
ASTURIAS AEROPUERTO (ASTURIAS) 3318
AUTILLA DEL PINO (PALENCIA) 3257
AYAMONTE (HUELVA) 3281
BADAJOZ AEROPUERTO (BADAJOZ) 3318
BARCELONA (BARCELONA) 3237
BARCELONA AEROPUERTO (BARCELONA) 3318
BARCELONA, FABRA (BARCELONA) 3318
BARDENAS REALES, BASE AÉREA  (NAVARRA) 3145
BAZA (GRANADA) 2890
BAZTAN, IRURITA  (NAVARRA) 2819
BELORADO (BURGOS) 2932
BENAVENTE (ZAMORA) 3315
BIELSA (HUESCA) 3023
BILBAO AEROPUERTO (BIZKAIA) 3318
BUITRAGO DEL LOZOYA (MADRID) 3032
BUJARALOZ (ZARAGOZA) 2346
BURGOS AEROPUERTO (BURGOS) 3318
CABO BUSTO (ASTURIAS) 2729
CABO PEÑAS (ASTURIAS) 2992
CABO VILAN (A CORUÑA) 2962
CADREITA (NAVARRA) 2265
CALAMOCHA (TERUEL) 3307
CALANDA (TERUEL) 2433
CALATAYUD (ZARAGOZA) 2732
CAPDEPERA (ILLES BALEARS) 3024
CARAVACA DE LA CRUZ (MURCIA) 3309
CARBALLIÑO, O (OURENSE) 3253
CARBONERAS (ALMERIA) 1962
CARRIÓN DE LOS CONDES (PALENCIA) 3281
CARTAGENA (MURCIA) 3318
CASTELLFORT (CASTELLON) 3087
CASTELLÓN - ALMASSORA (CASTELLON) 3318
CASTRO URDIALES (CANTABRIA) 1628
CASTROPOL (ASTURIAS) 1469
CAZALLA DE LA SIERRA (SEVILLA) 3213
CAZORLA (JAEN) 2839
CAÑIZARES (CUENCA) 2603
CERVERA DE PISUERGA (PALENCIA) 3211
CEUTA (CEUTA) 3305
CHINCHILLA (ALBACETE) 2163
CIEZA (MURCIA) 3310
CIUDAD REAL (CIUDAD REAL) 3318
COLMENAR VIEJO (MADRID) 3318
CORIA (CACERES) 3273
CUENCA (CUENCA) 3318
CÁCERES (CACERES) 3318
CÁDIZ (CADIZ) 2893
CÓRDOBA AEROPUERTO (CORDOBA) 3318
DAROCA (ZARAGOZA) 3318
DON BENITO (BADAJOZ) 3297
DONOSTIA/SAN SEBASTIÁN, IGUELDO (GIPUZKOA) 3318
DOÑA MENCÍA (CORDOBA) 3235
ELGOIBAR (GIPUZKOA) 3227
ESCORCA, LLUC (ILLES BALEARS) 3210
ESTACA DE BARES (A CORUÑA) 3189
ESTEPONA (MALAGA) 3264
FISTERRA (A CORUÑA) 3087
FORONDA-TXOKIZA (ARABA/ALAVA) 3318
FUENGIROLA (MALAGA) 3293
FUERTEVENTURA AEROPUERTO (LAS PALMAS) 3303
GETAFE (MADRID) 3318
GIJÓN, CAMPUS (ASTURIAS) 1908
GIJÓN, PUERTO (ASTURIAS) 3318
GIRONA AEROPUERTO (GIRONA) 3316
GRAN CANARIA AEROPUERTO (LAS PALMAS) 3318
GRANADA AEROPUERTO (GRANADA) 3318
GRANADA BASE AÉREA (GRANADA) 3318
GRAZALEMA (CADIZ) 3237
GUADALAJARA (GUADALAJARA) 2710
GUADALAJARA, EL SERRANILLO (GUADALAJARA) 1727
GÜEÑES (BIZKAIA) 3145
GÜÍMAR (STA. CRUZ DE TENERIFE) 1826
HELLÍN (ALBACETE) 3079
HERRERA DEL DUQUE (BADAJOZ) 3261
HIERRO AEROPUERTO (STA. CRUZ DE TENERIFE) 3318
HINOJOSA DEL DUQUE (CORDOBA) 2845
HONDARRIBIA, MALKARROA (GIPUZKOA) 3318
HUELVA, RONDA ESTE (HUELVA) 3309
HUESCA AEROPUERTO (HUESCA) 3318
HUÉRCAL-OVERA (ALMERIA) 3263
HUÉSCAR (GRANADA) 2321
IBIZA, AEROPUERTO (ILLES BALEARS) 3318
IZAÑA (STA. CRUZ DE TENERIFE) 3318
JACA (HUESCA) 2693
JAÉN (JAEN) 3318
JAÉN, INSTITUTO (JAEN) 1278
JEREZ DE LA FRONTERA AEROPUERTO (CADIZ) 3318
JEREZ DE LOS CABALLEROS (BADAJOZ) 3110
JÁVEA/ XÀBIA (ALICANTE) 3174
LA ALDEA DE SAN NICOLÁS (LAS PALMAS) 1484
LA COVATILLA, ESTACIÓN DE ESQUÍ (SALAMANCA) 2952
LA MOLINA (GIRONA) 3060
LA PALMA AEROPUERTO (STA. CRUZ DE TENERIFE) 3303
LA PINILLA, ESTACIÓN DE ESQUÍ (SEGOVIA) 3266
LA RODA DE ANDALUCÍA (SEVILLA) 3182
LA SEU D'URGELL (LLEIDA) 3180
LAGUNAS DE SOMOZA (LEON) 3083
LANZAROTE AEROPUERTO (LAS PALMAS) 3318
LAS PALMAS DE GRAN CANARIA, PL. DE LA FERIA (LAS PALMAS) 1861
LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL (LAS PALMAS) 2705
LEKEITIO (BIZKAIA) 3125
LEÓN AEROPUERTO (LEON) 1218
LEÓN, VIRGEN DEL CAMINO (LEON) 3318
LLANES (ASTURIAS) 3149
LLEIDA (LLEIDA) 3318
LLERENA (BADAJOZ) 3237
LOGROÑO AEROPUERTO (LA RIOJA) 3318
LOJA (GRANADA) 3147
LORCA (MURCIA) 3282
LUGO AEROPUERTO (LUGO) 3318
MACHICHACO (BIZKAIA) 3069
MADRID AEROPUERTO (MADRID) 3318
MADRID, CIUDAD UNIVERSITARIA (MADRID) 3151
MADRID, CUATRO VIENTOS (MADRID) 3318
MADRID, RETIRO (MADRID) 3318
MADRIDEJOS (TOLEDO) 2934
MANRESA (BARCELONA) 3199
MASPALOMAS (LAS PALMAS) 2867
MEDINA DE POMAR (BURGOS) 3145
MELILLA (MELILLA) 3318
MENORCA, AEROPUERTO (ILLES BALEARS) 3318
MOGUER, EL ARENOSILLO (HUELVA) 3239
MOGÁN, PUERTO (LAS PALMAS) 3219
MOLINA DE ARAGÓN (GUADALAJARA) 3288
MONTE IROITE (A CORUÑA) 2513
MORÓN DE LA FRONTERA (SEVILLA) 3318
MOTRIL (GRANADA) 553
MURCIA (MURCIA) 3318
MÁLAGA AEROPUERTO (MALAGA) 3318
MÁLAGA, CENTRO METEOROLÓGICO (MALAGA) 3310
MÁLAGA, PUERTO (MALAGA) 59
MÉRIDA (BADAJOZ) 3298
NAUT ARAN, ARTIES  (LLEIDA) 2941
NAVALMORAL DE LA MATA (CACERES) 3312
NAVARREDONDA DE GREDOS (AVILA) 3130
OLIVA (VALENCIA) 3203
OLMEDO (VALLADOLID) 2886
OURENSE (OURENSE) 3318
OVIEDO (ASTURIAS) 5814
PADRÓN (A CORUÑA) 3131
PALACIOS DE LA SIERRA (BURGOS) 3181
PALMA, AEROPUERTO (ILLES BALEARS) 3318
PALMA, PUERTO (ILLES BALEARS) 3318
PAMPLONA (NAVARRA) 3318
PAMPLONA AEROPUERTO (NAVARRA) 3318
PINOSO  (ALICANTE) 3060
PLASENCIA (CACERES) 3238
POLINYÀ DE XÚQUER (VALENCIA) 3188
PONFERRADA (LEON) 3318
PONTEVEDRA (PONTEVEDRA) 3318
PORQUERES (GIRONA) 2060
PORRERES (ILLES BALEARS) 3203
PORTOCOLOM   (ILLES BALEARS) 3106
PUEBLA DE DON RODRIGO (CIUDAD REAL) 2660
PUERTO ALTO DEL LEÓN (MADRID) 2691
PUERTO DE LA CRUZ (STA. CRUZ DE TENERIFE) 3220
PUERTO DE LEITARIEGOS (ASTURIAS) 2762
PUERTO DE NAVACERRADA (MADRID) 3318
PUERTO DE PAJARES (ASTURIAS) 3037
PUERTO DE SAN ISIDRO (LEON) 2796
PUNTA GALEA (BIZKAIA) 3257
PÁJARA (LAS PALMAS) 1443
QUINTANAR DE LA ORDEN (TOLEDO) 2859
REINOSA (CANTABRIA) 3176
REUS AEROPUERTO (TARRAGONA) 3318
RIPOLL (GIRONA) 3206
ROBLEDO DE CHAVELA (MADRID) 2749
RONDA (MALAGA) 558
ROQUETAS DE MAR (ALMERIA) 2954
ROTA, BASE NAVAL (CADIZ) 3318
SA POBLA (ILLES BALEARS) 2744
SABADELL AEROPUERTO (BARCELONA) 2241
SAELICES EL CHICO (SALAMANCA) 3297
SALAMANCA (SALAMANCA) 3308
SALAMANCA AEROPUERTO (SALAMANCA) 3318
SAN CLEMENTE (CUENCA) 2112
SAN FERNANDO (CADIZ) 3284
SAN JAVIER AEROPUERTO (MURCIA) 6240
SAN PABLO DE LOS MONTES (TOLEDO) 3175
SAN SEBASTIÁN AEROPUERTO (GIPUZKOA) 2618
SAN SEBASTIÁN DE LA GOMERA (STA. CRUZ DE TENERIFE) 3251
SAN VICENTE DE LA BARQUERA (CANTABRIA) 3299
SANT JAUME D'ENVEJA (TARRAGONA) 2967
SANTA ELENA (JAEN) 3050
SANTA SUSANNA (BARCELONA) 2565
SANTANDER (CANTABRIA) 5815
SANTANDER AEROPUERTO (CANTABRIA) 3318
SANTIAGO DE COMPOSTELA (A CORUÑA) 3214
SANTIAGO DE COMPOSTELA AEROPUERTO (A CORUÑA) 3318
SEGOVIA (SEGOVIA) 3318
SEVILLA AEROPUERTO (SEVILLA) 3318
SIERRA DE ALFABIA, BUNYOLA (ILLES BALEARS) 3090
SIGÜENZA (GUADALAJARA) 3019
SOMOSIERRA (MADRID) 2736
SORIA (SORIA) 3267
SOS DEL REY CATÓLICO (ZARAGOZA) 2810
SOTILLO DE LA ADRADA (AVILA) 2991
STA.CRUZ DE TENERIFE (STA. CRUZ DE TENERIFE) 3318
TALARN (LLEIDA) 2824
TALAVERA DE LA REINA (TOLEDO) 3063
TARANCÓN (CUENCA) 3259
TARIFA (CADIZ) 3102
TAZACORTE (STA. CRUZ DE TENERIFE) 3104
TEGUISE (LAS PALMAS) 2015
TENERIFE NORTE AEROPUERTO (STA. CRUZ DE TENERIFE) 3318
TENERIFE SUR AEROPUERTO (STA. CRUZ DE TENERIFE) 3318
TERUEL (TERUEL) 3318
TOLEDO (TOLEDO) 3315
TOMELLOSO (CIUDAD REAL) 2915
TORLA (HUESCA) 1729
TORREJÓN DE ARDOZ (MADRID) 3318
TORROX (MALAGA) 2807
TORTOSA (TARRAGONA) 3318
TRUJILLO (CACERES) 3211
TÀRREGA (LLEIDA) 2715
UTIEL (VALENCIA) 3267
VALDEPEÑAS (CIUDAD REAL) 3077
VALDERREDIBLE, POLIENTES    (CANTABRIA) 3268
VALENCIA AEROPUERTO (VALENCIA) 3318
VALENCIA DE ALCÁNTARA (CACERES) 3200
VALLADOLID (VALLADOLID) 3318
VALLADOLID AEROPUERTO (VALLADOLID) 3318
VALÈNCIA (VALENCIA) 3318
VALÈNCIA, VIVEROS (VALENCIA) 3297
VANDELLÒS   (TARRAGONA) 2735
VEJER DE LA FRONTERA (CADIZ) 3308
VIGO AEROPUERTO (PONTEVEDRA) 3318
VILLAFRANCA DEL CID/VILLAFRANCA (CASTELLON) 2096
VILLANUEVA DE CÓRDOBA (CORDOBA) 3191
VILLARDECIERVOS (ZAMORA) 3258
VILLARRODRIGO (JAEN) 2309
VINARÒS (CASTELLON) 3206
VISO DEL MARQUÉS (CIUDAD REAL) 2895
VITIGUDINO (SALAMANCA) 3262
VITORIA GASTEIZ AEROPUERTO (ARABA/ALAVA) 2650
XINZO DE LIMIA (OURENSE) 2912
XÀTIVA (VALENCIA) 3003
YECLA (MURCIA) 3303
ZAMORA (ZAMORA) 3318
ZARAGOZA AEROPUERTO (ZARAGOZA) 3318
ZARAGOZA, VALDESPARTERA (ZARAGOZA) 2245
ZUMAIA (GIPUZKOA) 3310
ZUMARRAGA (GIPUZKOA) 3261
ÁGUILAS (MURCIA) 3316
ÁVILA (AVILA) 3318
ÉCIJA (SEVILLA) 3219

The next step is to groupby date of the year.

In [94]:
for name,group_doy in group_st.groupby(by='doy'):
    print ('%s (%s) %4.2f %4.2f %4.2f' % (name,len(group_doy),np.mean(group_doy['tmin']),
                                          np.mean(group_doy['tavg']),np.mean(group_doy['tmax'])))

Y0101 (9) 4.66 10.06 15.43
Y0102 (9) 4.17 10.10 16.04
Y0103 (9) 4.53 10.09 15.63
Y0104 (7) 4.84 10.77 16.69
Y0105 (7) 2.37 9.23 16.08
Y0106 (7) 3.20 9.37 15.56
Y0107 (7) 4.46 9.77 15.07
Y0108 (7) 3.57 9.54 15.50
Y0109 (7) 2.69 9.06 15.37
Y0110 (7) 4.27 10.19 16.07
Y0111 (7) 4.67 10.40 16.10
Y0112 (8) 4.00 9.74 15.50
Y0113 (8) 4.23 9.87 15.53
Y0114 (8) 3.39 9.01 14.67
Y0115 (8) 1.99 8.04 14.09
Y0116 (8) 3.34 8.50 13.67
Y0117 (9) 2.43 8.87 15.31
Y0118 (9) 3.53 8.91 14.31
Y0119 (7) 3.87 8.97 14.05
Y0120 (6) 1.62 7.48 13.33
Y0121 (9) 1.65 8.02 14.35
Y0122 (8) 3.07 9.01 14.97
Y0123 (9) 2.33 8.66 14.93
Y0124 (9) 2.85 9.46 16.05
Y0125 (9) 3.66 9.60 15.52
Y0126 (9) 3.77 9.91 16.11
Y0127 (9) 4.81 9.62 14.44
Y0128 (8) 3.46 8.94 14.40
Y0129 (8) 3.15 8.84 14.50
Y0130 (8) 3.24 9.41 15.60
Y0131 (9) 3.47 9.66 15.84
Y0201 (9) 2.79 9.52 16.23
Y0202 (9) 2.51 8.24 13.98
Y0203 (8) 2.45 8.55 14.62
Y0204 (8) 3.59 9.12 14.66
Y0205 (9) 3.54 9.52 15.50
Y0206 (9) 2.88 9.49 16.13
Y0207 (9) 3.10 9.14 15.20
Y0208 (9) 3.02 8.68 14.33
Y0209 (9) 0.79 7.96 15.11
Y0210 (9) 2.33 8.16 13.97
Y0211 (9) 2.67 8.74 14.78
Y0212 (9) 4.97 9.54 14.08
Y0213 (9) 4.56 9.51 14.42
Y0214 (9) 3.67 9.77 15.83
Y0215 (8) 5.09 10.39 15.68
Y0216 (9) 3.66 9.72 15.78
Y0217 (9) 4.84 10.09 15.32
Y0218 (9) 5.28 10.58 15.93
Y0219 (9) 4.58 10.39 16.17
Y0220 (9) 3.97 10.48 16.98
Y0221 (9) 5.99 11.56 17.14
Y0222 (9) 4.43 10.97 17.51
Y0223 (9) 4.78 11.11 17.46
Y0224 (9) 4.89 11.10 17.31
Y0225 (9) 5.21 11.23 17.27
Y0226 (9) 3.85 11.00 18.12
Y0227 (9) 5.89 11.77 17.63
Y0228 (8) 5.50 10.94 16.40
Y0229 (2) 3.65 11.90 20.20
Y0301 (9) 4.14 10.92 17.69
Y0302 (8) 5.89 11.91 17.93
Y0303 (9) 6.19 11.81 17.40
Y0304 (9) 6.60 11.84 17.10
Y0305 (9) 7.50 12.41 17.33
Y0306 (9) 6.43 12.07 17.68
Y0307 (9) 5.27 11.91 18.56
Y0308 (9) 5.67 12.87 20.08
Y0309 (9) 6.26 12.71 19.17
Y0310 (9) 6.26 12.96 19.68
Y0311 (9) 5.47 12.32 19.18
Y0312 (9) 6.30 12.64 18.96
Y0313 (9) 5.77 11.97 18.21
Y0314 (9) 5.48 11.57 17.68
Y0315 (9) 5.09 12.07 19.08
Y0316 (9) 5.77 12.39 19.01
Y0317 (9) 6.81 13.28 19.70
Y0318 (9) 6.82 13.47 20.09
Y0319 (9) 6.36 13.53 20.71
Y0320 (9) 7.69 13.12 18.51
Y0321 (9) 7.01 12.69 18.38
Y0322 (8) 5.35 11.86 18.36
Y0323 (8) 6.70 12.11 17.52
Y0324 (8) 7.18 13.03 18.86
Y0325 (9) 7.02 12.67 18.33
Y0326 (9) 7.86 13.72 19.60
Y0327 (8) 6.91 13.47 19.97
Y0328 (9) 6.74 14.35 21.99
Y0329 (9) 8.30 14.38 20.44
Y0330 (9) 7.87 14.86 21.84
Y0331 (9) 8.71 15.17 21.62
Y0401 (9) 7.76 15.01 22.32
Y0402 (9) 8.33 15.04 21.80
Y0403 (9) 8.53 14.36 20.18
Y0404 (8) 8.43 14.19 19.90
Y0405 (9) 8.90 15.32 21.73
Y0406 (9) 8.19 15.50 22.86
Y0407 (9) 8.66 15.93 23.23
Y0408 (8) 8.56 16.18 23.84
Y0409 (9) 8.21 15.50 22.84
Y0410 (9) 9.83 16.16 22.50
Y0411 (8) 11.02 17.23 23.48
Y0412 (9) 9.79 15.79 21.80
Y0413 (8) 9.30 16.69 24.04
Y0414 (9) 10.00 17.26 24.51
Y0415 (9) 10.59 17.09 23.58
Y0416 (9) 11.50 17.95 24.39
Y0417 (9) 9.86 17.79 25.72
Y0418 (9) 11.18 18.08 25.01
Y0419 (9) 11.72 17.56 23.37
Y0420 (9) 11.83 17.26 22.64
Y0421 (9) 10.74 16.83 22.91
Y0422 (9) 11.22 17.20 23.21
Y0423 (9) 11.52 17.78 24.03
Y0424 (9) 10.76 17.54 24.29
Y0425 (9) 10.64 17.50 24.36
Y0426 (9) 11.84 18.53 25.24
Y0427 (9) 12.21 18.50 24.80
Y0428 (9) 10.50 16.50 22.50
Y0429 (9) 10.71 16.10 21.51
Y0430 (9) 10.32 16.34 22.33
Y0501 (9) 9.22 16.53 23.82
Y0502 (9) 9.47 17.34 25.21
Y0503 (9) 10.49 18.33 26.16
Y0504 (9) 11.34 18.57 25.82
Y0505 (8) 11.25 18.34 25.39
Y0506 (8) 10.96 18.34 25.69
Y0507 (8) 11.30 18.39 25.47
Y0508 (9) 12.66 19.88 27.09
Y0509 (9) 12.80 20.17 27.56
Y0510 (9) 13.43 20.12 26.82
Y0511 (9) 13.17 20.16 27.16
Y0512 (9) 12.71 20.27 27.83
Y0513 (9) 13.37 20.74 28.12
Y0514 (9) 12.70 20.76 28.79
Y0515 (9) 13.30 20.50 27.71
Y0516 (9) 12.84 20.67 28.52
Y0517 (9) 12.37 20.82 29.29
Y0518 (9) 12.69 19.94 27.17
Y0519 (9) 11.87 19.42 26.96
Y0520 (9) 11.67 18.97 26.27
Y0521 (9) 12.86 19.64 26.43
Y0522 (9) 12.16 20.10 28.06
Y0523 (9) 12.09 20.90 29.71
Y0524 (9) 12.74 20.48 28.23
Y0525 (9) 13.37 20.91 28.42
Y0526 (9) 13.37 20.44 27.53
Y0527 (9) 13.96 21.26 28.53
Y0528 (9) 14.54 20.91 27.32
Y0529 (9) 13.26 20.56 27.87
Y0530 (9) 14.27 21.67 29.04
Y0531 (8) 13.59 22.31 31.06
Y0601 (9) 14.77 23.42 32.09
Y0602 (9) 15.09 23.28 31.49
Y0603 (9) 15.15 22.80 30.41
Y0604 (9) 14.03 22.34 30.66
Y0605 (9) 15.04 23.23 31.42
Y0606 (9) 15.48 22.76 30.06
Y0607 (8) 14.81 22.02 29.25
Y0608 (9) 14.53 21.84 29.13
Y0609 (9) 14.02 21.46 28.91
Y0610 (9) 14.86 22.28 29.72
Y0611 (8) 15.58 22.49 29.43
Y0612 (9) 15.37 23.52 31.70
Y0613 (9) 15.64 24.26 32.88
Y0614 (9) 16.01 24.61 33.20
Y0615 (9) 16.80 25.11 33.41
Y0616 (9) 16.57 24.91 33.23
Y0617 (8) 16.75 25.45 34.16
Y0618 (9) 16.61 24.56 32.51
Y0619 (9) 16.41 24.43 32.49
Y0620 (9) 16.01 25.02 34.04
Y0621 (9) 17.14 25.29 33.47
Y0622 (9) 16.74 25.71 34.69
Y0623 (9) 16.89 26.16 35.39
Y0624 (9) 17.79 26.54 35.33
Y0625 (9) 18.21 26.17 34.14
Y0626 (9) 17.47 26.22 34.94
Y0627 (9) 17.76 26.68 35.61
Y0628 (9) 18.29 26.83 35.39
Y0629 (9) 18.51 26.76 34.96
Y0630 (9) 17.27 25.34 33.41
Y0701 (9) 16.87 25.38 33.86
Y0702 (9) 17.16 25.81 34.44
Y0703 (9) 18.08 26.57 35.08
Y0704 (9) 17.54 26.57 35.56
Y0705 (9) 18.83 27.36 35.90
Y0706 (9) 18.66 26.78 34.93
Y0707 (9) 18.84 27.22 35.54
Y0708 (9) 18.18 27.22 36.28
Y0709 (9) 18.27 28.01 37.76
Y0710 (8) 19.21 28.23 37.26
Y0711 (8) 18.41 27.84 37.29
Y0712 (9) 18.40 27.70 36.98
Y0713 (9) 18.56 27.60 36.63
Y0714 (9) 19.17 27.67 36.16
Y0715 (9) 18.11 27.32 36.54
Y0716 (9) 20.01 28.66 37.35
Y0717 (9) 20.03 28.57 37.14
Y0718 (9) 19.23 28.03 36.81
Y0719 (9) 19.49 28.50 37.49
Y0720 (9) 19.65 27.88 36.08
Y0721 (9) 18.63 27.36 36.08
Y0722 (9) 18.61 27.51 36.42
Y0723 (9) 18.96 27.69 36.42
Y0724 (9) 19.38 27.76 36.13
Y0725 (9) 18.80 27.78 36.76
Y0726 (9) 18.52 27.57 36.63
Y0727 (9) 19.36 27.66 35.90
Y0728 (9) 19.33 27.92 36.50
Y0729 (9) 18.56 27.64 36.73
Y0730 (9) 18.93 27.84 36.77
Y0731 (9) 18.63 27.67 36.71
Y0801 (9) 19.09 28.56 38.02
Y0802 (8) 18.72 27.70 36.69
Y0803 (9) 19.53 28.83 38.17
Y0804 (8) 19.49 29.46 39.40
Y0805 (9) 20.58 29.46 38.33
Y0806 (9) 20.28 28.98 37.68
Y0807 (9) 21.36 29.39 37.46
Y0808 (9) 20.96 28.74 36.53
Y0809 (9) 20.67 28.79 36.90
Y0810 (9) 20.28 29.00 37.69
Y0811 (9) 21.10 29.44 37.79
Y0812 (9) 20.50 28.80 37.10
Y0813 (9) 19.61 27.46 35.29
Y0814 (9) 18.43 26.73 35.02
Y0815 (9) 19.57 27.64 35.72
Y0816 (9) 19.20 27.61 36.02
Y0817 (9) 19.83 27.98 36.09
Y0818 (9) 20.59 28.58 36.60
Y0819 (9) 20.91 29.16 37.41
Y0820 (8) 21.00 28.90 36.83
Y0821 (8) 20.59 28.85 37.13
Y0822 (9) 20.51 28.31 36.09
Y0823 (9) 19.30 27.78 36.23
Y0824 (9) 18.86 27.18 35.53
Y0825 (8) 18.99 27.55 36.15
Y0826 (8) 19.80 27.78 35.76
Y0827 (9) 19.21 27.96 36.67
Y0828 (9) 19.76 27.90 36.02
Y0829 (9) 19.26 26.85 34.41
Y0830 (9) 18.82 26.48 34.12
Y0831 (9) 18.62 26.19 33.74
Y0901 (9) 19.77 26.84 33.91
Y0902 (9) 19.32 26.32 33.30
Y0903 (9) 18.33 25.53 32.76
Y0904 (9) 17.94 25.59 33.24
Y0905 (9) 17.60 25.58 33.57
Y0906 (9) 18.04 26.17 34.33
Y0907 (9) 19.38 26.22 33.02
Y0908 (9) 17.74 24.80 31.86
Y0909 (9) 16.54 24.35 32.11
Y0910 (9) 16.19 24.26 32.31
Y0911 (9) 16.88 25.08 33.30
Y0912 (9) 17.67 26.01 34.36
Y0913 (9) 18.07 25.37 32.66
Y0914 (8) 17.43 24.48 31.56
Y0915 (8) 16.81 23.84 30.84
Y0916 (7) 15.94 22.91 29.93
Y0917 (7) 15.99 22.30 28.63
Y0918 (9) 15.10 22.68 30.19
Y0919 (8) 15.81 23.35 30.90
Y0920 (8) 17.20 24.49 31.80
Y0921 (8) 16.86 24.41 31.95
Y0922 (9) 16.86 24.28 31.72
Y0923 (9) 15.78 22.98 30.21
Y0924 (9) 15.47 22.81 30.13
Y0925 (9) 15.18 22.93 30.70
Y0926 (9) 15.79 22.79 29.80
Y0927 (9) 16.31 22.63 28.96
Y0928 (9) 16.78 22.30 27.84
Y0929 (9) 16.18 22.33 28.50
Y0930 (9) 15.30 22.29 29.26
Y1001 (8) 15.97 23.16 30.35
Y1002 (9) 15.00 22.86 30.71
Y1003 (9) 16.21 22.96 29.74
Y1004 (9) 16.34 23.25 30.17
Y1005 (9) 14.94 22.04 29.21
Y1006 (9) 14.62 21.95 29.29
Y1007 (9) 14.70 21.91 29.11
Y1008 (9) 14.53 22.14 29.70
Y1009 (9) 14.10 21.20 28.30
Y1010 (9) 14.27 20.77 27.24
Y1011 (9) 14.86 21.21 27.60
Y1012 (9) 15.02 20.56 26.09
Y1013 (9) 13.46 20.20 26.94
Y1014 (9) 13.01 19.40 25.78
Y1015 (9) 12.48 19.01 25.54
Y1016 (9) 13.23 19.92 26.60
Y1017 (9) 12.94 19.93 26.93
Y1018 (9) 12.91 18.88 24.84
Y1019 (9) 12.84 18.74 24.59
Y1020 (9) 12.57 18.99 25.41
Y1021 (9) 12.14 18.70 25.29
Y1022 (9) 13.22 18.80 24.40
Y1023 (9) 13.42 19.09 24.79
Y1024 (9) 13.49 18.66 23.82
Y1025 (9) 13.08 18.86 24.62
Y1026 (8) 13.64 18.43 23.24
Y1027 (9) 11.94 18.20 24.46
Y1028 (8) 10.72 17.19 23.65
Y1029 (9) 9.90 16.57 23.21
Y1030 (9) 10.23 16.14 22.04
Y1031 (9) 9.72 15.83 21.94
Y1101 (9) 10.41 16.49 22.51
Y1102 (9) 10.59 16.32 22.04
Y1103 (8) 11.01 16.44 21.87
Y1104 (9) 11.77 16.06 20.36
Y1105 (9) 10.56 15.14 19.71
Y1106 (9) 8.53 13.91 19.30
Y1107 (9) 9.17 14.27 19.37
Y1108 (9) 8.61 13.78 18.96
Y1109 (9) 8.21 13.33 18.44
Y1110 (9) 6.79 13.09 19.40
Y1111 (9) 7.71 14.29 20.88
Y1112 (9) 8.44 14.74 21.09
Y1113 (9) 8.29 14.94 21.59
Y1114 (9) 9.18 14.63 20.06
Y1115 (9) 7.76 13.60 19.41
Y1116 (8) 6.58 13.06 19.56
Y1117 (8) 6.41 12.86 19.30
Y1118 (8) 7.31 13.16 18.96
Y1119 (9) 7.30 13.27 19.28
Y1120 (9) 7.85 13.31 18.77
Y1121 (9) 8.53 13.43 18.31
Y1122 (8) 7.51 12.46 17.46
Y1123 (8) 6.83 12.35 17.91
Y1124 (8) 7.02 12.71 18.40
Y1125 (8) 8.01 13.30 18.57
Y1126 (8) 7.89 12.77 17.63
Y1127 (7) 6.21 11.33 16.40
Y1128 (7) 5.06 10.86 16.66
Y1129 (8) 4.07 10.14 16.17
Y1130 (9) 4.67 10.35 16.02
Y1201 (10) 4.67 10.64 16.60
Y1202 (10) 5.60 10.89 16.19
Y1203 (9) 4.51 10.50 16.49
Y1204 (10) 4.72 10.95 17.14
Y1205 (10) 4.70 10.86 17.02
Y1206 (9) 4.87 11.10 17.31
Y1207 (10) 5.62 11.27 16.96
Y1208 (10) 5.86 11.81 17.77
Y1209 (10) 5.52 11.54 17.57
Y1210 (10) 6.58 12.36 18.10
Y1211 (9) 5.20 11.32 17.44
Y1212 (10) 4.70 10.26 15.82
Y1213 (9) 6.62 11.42 16.21
Y1214 (9) 7.34 11.64 15.93
Y1215 (10) 6.19 10.74 15.31
Y1216 (9) 5.12 9.53 13.99
Y1217 (10) 5.47 10.14 14.83
Y1218 (9) 4.54 10.02 15.51
Y1219 (10) 4.71 10.29 15.86
Y1220 (10) 3.71 9.46 15.20
Y1221 (9) 4.24 10.82 17.40
Y1222 (9) 4.44 11.11 17.81
Y1223 (9) 3.60 10.70 17.77
Y1224 (9) 3.28 10.08 16.85
Y1225 (9) 4.01 9.99 15.96
Y1226 (9) 3.56 9.72 15.88
Y1227 (9) 3.45 9.71 15.99
Y1228 (9) 4.60 10.64 16.69
Y1229 (10) 4.15 10.20 16.28
Y1230 (10) 3.31 9.69 16.05
Y1231 (10) 4.04 10.10 16.15

Finally, all together

In [95]:
line_of_result = []
for station,group_st in station_group:
    region = group_st.iloc[0].region
    for doy,group_doy in group_st.groupby(by='doy'):
        ndata = len(group_doy)
        line_of_result.append([station,region,ndata,doy,np.mean(group_doy['tmin']),
                                np.mean(group_doy['tavg']),np.mean(group_doy['tmax'])])

In [96]:
CLIMATOLOGY = pd.DataFrame.from_records(line_of_result)

In [97]:
CLIMATOLOGY.head()

          0         1  2      3          4          5          6
0  A CORUÑA  A CORUÑA  9  Y0101   8.666667  11.555556  14.455556
1  A CORUÑA  A CORUÑA  9  Y0102   9.611111  12.255556  14.866667
2  A CORUÑA  A CORUÑA  9  Y0103  10.355556  12.866667  15.388889
3  A CORUÑA  A CORUÑA  9  Y0104  10.144444  12.588889  15.000000
4  A CORUÑA  A CORUÑA  9  Y0105   8.766667  11.733333  14.688889

Let's add the correct columns

In [98]:
CLIMATOLOGY.columns = ['station','region','ndata','doy','tmin','tavg','tmax']

In [104]:
CLIMATOLOGY.head()

    station    region  ndata    doy       tmin       tavg       tmax
0  A CORUÑA  A CORUÑA      9  Y0101   8.666667  11.555556  14.455556
1  A CORUÑA  A CORUÑA      9  Y0102   9.611111  12.255556  14.866667
2  A CORUÑA  A CORUÑA      9  Y0103  10.355556  12.866667  15.388889
3  A CORUÑA  A CORUÑA      9  Y0104  10.144444  12.588889  15.000000
4  A CORUÑA  A CORUÑA      9  Y0105   8.766667  11.733333  14.688889

# Interactive mode

Let's have a quick interactive look

In [18]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual,interactive, interactive_output
from ipywidgets import fixed, FloatSlider, Dropdown, HBox, Label, VBox, Layout

In [105]:
# Function to select region and station (based on the selected region...)

# Define the region widget (initialised at region = A CORUÑA)
region_list = sorted(list(set(CLIMATOLOGY['region'])))
region_widget = Dropdown(options=region_list,
                         value='A CORUÑA',
                         description='Region:'
                        )
                        
# Define the station widget (initialised at region = 'A CORUÑA' & statio = 'A CORUÑA')
station_widget = Dropdown(options=sorted(list(set(CLIMATOLOGY[CLIMATOLOGY['region']=='A CORUÑA']['station']))),
                         value='A CORUÑA',
                         description='Station:'
                         )
                        
# The upodate station list
def on_update_brand_widget(*args):
    station_widget.options = sorted(list(set(CLIMATOLOGY[CLIMATOLOGY['region']==region_widget.value]['station'])))

# The observe method to link station to region
region_widget.observe(on_update_brand_widget, 'value')

# Function
def plot_region_station(df,region,station,column):
    fig = plt.figure(figsize=(20,5))
    plt.grid()

    df_region = df.loc[df['region'] == region]
    DataFrame = df_region.loc[df_region['station'] == station]
    ndata = DataFrame['ndata'].values[0]
    plt.title('%s at %s (%s) ndata=%s' % (column,station,region,ndata),fontsize=10)
    display(plt.plot(DataFrame[column]))

In [100]:
Y = interactive(plot_region_station,df=fixed(CLIMATOLOGY),region=region_widget, station=station_widget,
               column=['tmin','tavg','tmax']);

controls_Left = VBox([Y.children[0],Y.children[1]])
controls_Right = VBox([Y.children[2]])

controls = HBox([controls_Left,controls_Right], layout = Layout(flex_flow='row wrap'))
output = Y.children[-1]
display(VBox([controls, output]))

VBox(children=(HBox(children=(VBox(children=(Dropdown(description='Region:', index=8, options=('A CORUÑA', 'AL…

This climatology doesn't look like a soft climatology... 10 years may not be enough.<br>
In order to generate a typical climatology, we need to compute the mean over a window.

In [117]:
window_widgets = widgets.IntSlider(value=5,min=1,max=24,step=2,description='Window:',disabled=False,
    continuous_update=False,orientation='horizontal',readout=True,readout_format='d')

doy_list = sorted(list(set(CLIMATOLOGY['doy'])))

# Function
def plot_window(df,region,station,column,longwindow):
    window = (longwindow-1)//2
    df_region = df.loc[df['region'] == region]
    df_station = df_region.loc[df_region['station'] == station]
    df_station.reset_index(inplace=True)
    line_of_result = []
    for doy in doy_list:
        doyindex = df_station[df_station['doy'] == doy].index[0]

        if (doyindex-window) < 0:
            df_concat = pd.concat([df_station.iloc[doyindex-window:],df_station.iloc[0:doyindex],
                                  df_station.iloc[doyindex:1+doyindex+window]])
        elif (doyindex+window) > 365:
            df_concat = pd.concat([df_station.iloc[doyindex-window:],
                                  df_station.iloc[:window-(365-doyindex)]])
        else:
            df_concat = pd.concat([df_station.iloc[doyindex-window:doyindex],
                                       df_station.iloc[doyindex:1+doyindex+window]])

        line_of_result.append([doy,np.mean(df_concat[column])])    

    DataFrame = pd.DataFrame.from_records(line_of_result)
    fig = plt.figure(figsize=(20,5))
    plt.grid()

    plt.title('%s at %s (%s) - window : %s days' % (column,station,region,longwindow),fontsize=10)
    display(plt.plot(DataFrame[1]))

In [118]:
Z = interactive(plot_window,df=fixed(CLIMATOLOGY),region=region_widget, station=station_widget,
               column=['tmin','tavg','tmax'], longwindow=window_widgets);

controls_Left = VBox([Z.children[0],Z.children[1]])
controls_Right = VBox([Z.children[2],Z.children[3]])

controls = HBox([controls_Left,controls_Right], layout = Layout(flex_flow='row wrap'))
output = Z.children[-1]
display(VBox([controls, output]))

VBox(children=(HBox(children=(VBox(children=(Dropdown(description='Region:', options=('A CORUÑA', 'ALBACETE', …

# Climatology results

Taking the mean value over a window produces a more representative climatology.<br>
Given a selected window days, let's recaculate the climatology for all stations.

In [1]:
# I've choosed a window covering 21 days
longwindow = 21

In [119]:
station_group = CLIMATOLOGY.groupby(by='station')
window = (longwindow-1)//2
line_of_result = []
for station,df_station in station_group:
    df_station.reset_index(inplace=True)
    region = df_station.iloc[0].region
    
    for doy in doy_list:
        try:
            doyindex = df_station[df_station['doy'] == doy].index[0]

            if (doyindex-window) < 0:
                df_concat = pd.concat([df_station.iloc[doyindex-window:],df_station.iloc[0:doyindex],
                                      df_station.iloc[doyindex:1+doyindex+window]])
            elif (doyindex+window) > 365:
                df_concat = pd.concat([df_station.iloc[doyindex-window:],
                                      df_station.iloc[:window-(365-doyindex)]])
            else:
                df_concat = pd.concat([df_station.iloc[doyindex-window:doyindex],
                                           df_station.iloc[doyindex:1+doyindex+window]])

            line_of_result.append([station,region,doy,np.mean(df_concat['tmin']),
                                    np.mean(df_concat['tavg']),np.mean(df_concat['tmax'])])
        except:
            break

CLIMATOLOGY_WINDOW = pd.DataFrame.from_records(line_of_result)
CLIMATOLOGY_WINDOW.columns = ['station','region','doy','tmin','tavg','tmax']

In [109]:
CLIMATOLOGY_WINDOW = pd.DataFrame.from_records(line_of_result)

The daily temperature climatology is now ready!<br>
Let's export the result to a CSV file.

In [134]:
CLIMATOLOGY_WINDOW.to_csv('aemet_daily_temperature_climatology_2009-2018_window-21.csv.bz2',
                          compression='bz2',float_format='%1.1f',index=False)